header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: indianred 2px;
}


a:hover {
    background: lightblue;
}

header img {
    height: 80px;
    margin-left: 40px;
    float: left;
}

header {
    background-color: rgb(124, 170, 186);
    position: fixed;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;

}

body {
    height: 125vh;
    background: radial-gradient(#a08cc4, #4d726ee4);
    background: cover;
    padding: 0;
    margin: 0;

}

nav ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 0;
    padding-inline-start: 40px;

}


article h2 {
    font-size: 30;
    text-align: center;  
}

article a{
    color: black;
}

#contact{
    margin: 10px;
    padding: 10px;
    color: azure;
}
#contact h2{
    text-align: left;
    color: black;
    font-size: 20px;
}




section img {
    width: 8vh;
}

footer {
    background-color: lightblue;
    height: 80px;
    width: 100%;

}


section {
    margin: 10px;
    padding: 10px;
    background-color: lightgray;

}